<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="coupon-app"/>
    <springProperty scope="context" name="PROFILE" source="spring.profiles.active" defaultValue="docker"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}","profile":"${PROFILE}"}</customFields>
        </encoder>
    </appender>

    <appender name="SENTRY_APPENDER" class="io.sentry.logback.SentryAppender">
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="com.coupon" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SENTRY_APPENDER"/>
    </root>
</configuration>
